:root {
  --font-family-var: "Roboto-Bold", Helvetica, sans-serif;
  --background-var: rgba(0, 0, 0, 0);
  --border-width-var: 1px;
  --border-style-var: solid;
  --border-color-var: rgba(0, 0, 0, 0);
  --border-var: var(--border-width-var) var(--border-style-var)
    var(--border-color-var);
  --padding-block-inline-var: 5px 5px;
  --margin-top-left-bottom-right-var: 5px 5px 5px 5px;
  --none-var: none;
  --default-var: default;
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("/Roboto/Roboto-Bold.woff2") url("/Roboto/Roboto-Bold.woff2")
    format("woff2");
  font-weight: normal, bold;
  font-style: normal;
  font-display: swap;
  font-variant: normal;
}

* {
  font-family: var(--font-family-var);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-var);
  background: var(--background-var);
  width: 100vw;
  height: 100vh;
  overflow: hidden hidden;
  margin: 0;
  -webkit-user-select: var(--none-var);
  user-select: var(--none-var);
  cursor: var(--default-var);
  pointer-events: var(--none-var);
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  background: var(--background-var);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  border: var(--border-var);
  -webkit-user-select: var(--none-var);
  user-select: var(--none-var);
  cursor: var(--default-var);
  pointer-events: var(--none-var);
}

.stream-title-container {
  background: var(--background-color-var);
  width: 1820px;
  height: 190px;
  object-fit: cover;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  border: var(--border-var);
  padding: var(--padding-block-inline-var);
  margin: var(--margin-top-left-bottom-right-var);
  -webkit-user-select: var(--none-var);
  user-select: var(--none-var);
  cursor: var(--default-var);
  pointer-events: var(--none-var);
}

.stream-title {
  background: var(--background-var);
  filter: drop-shadow(0 0 0.5px rgb(0, 0, 0));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 1800px;
  max-width: 1800px;
  height: 170px;
  max-height: 170px;
  object-fit: cover;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  border: var(--border-var);
  padding: var(--padding-block-inline-var);
  margin: var(--margin-top-left-bottom-right-var);
  text-align: center;
  font-size: 60px;
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
  transition: opacity 420ms cubic-bezier(0.2, 0.9, 0.2, 1),
    transform 420ms cubic-bezier(0.2, 0.9, 0.2, 1);
  -webkit-user-select: var(--none-var);
  user-select: var(--none-var);
  cursor: var(--default-var);
  pointer-events: var(--none-var);
}
